@import '../../../vars.scss';

* {
  background-color: $primary-color;
  color: white;
}

a {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: .5rem;
}

p {
  margin-right: .5rem;
}

.breadcrumb-text {
  display: flex;
  justify-content: center;
  border-bottom: 1px white solid;
}
