@import '../vars.scss';

.after-bread {
  display: flex;
}

app-side-menu {
  height: 93vh;
}

app-breadcrumb {
  width: 100%;
}

.outer-router {
  width: 100%;
}

.main-top {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $primary-color;
  padding-left: 1rem;
}

.sidebar-btn {
  background-color: white;
  color: black;
}
